body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: #231355;
}

.main-container {
  background-color: #231355;
  height: 100%;
  overflow-y: auto;
  color: white;
}

.posts-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header,
.footer {
  background-color: #141334;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
}

.footer {
  justify-content: center;
}

button {
  padding: 10px 15px;
  background: #141334;
  color: white;
  border: none;
  border-radius: 5px !important;
  cursor: pointer;
  transition: background 0.2s;
}

button:hover:not(:disabled) {
  background: #14133494;
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

::-webkit-scrollbar,
.comments-scroll-area::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track,
.comments-scroll-area::-webkit-scrollbar-track {
  background: #f1f1f14d;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb,
.comments-scroll-area::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover,
.comments-scroll-area::-webkit-scrollbar-thumb:hover {
  background: #888;
}