body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.main-container {
  background-color: #FFF6EF;
  height: 100%;
  overflow-y: auto;
}

.header, .footer {
  background-color: #D6DC82;
  color: #262628;
  height: 50px;
  display: flex;
  align-items: center;
}

.footer {
  justify-content: center;
}

button {
  padding: 10px 15px;
  background: #D6DC82;
  color: white;
  border: none;
  border-radius: 5px !important;
  cursor: pointer;
  transition: background 0.2s;
}

button:hover:not(:disabled) {
  background: #D6DC8294;
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}